.card{
    height: 20%;
    width: 80%;
    margin :5px auto ;

}
.card-header{
    background-color: aquamarine;
    color:brown;
    font-size: 1rem;
}

button{
    background-color: aquamarine;
    color:burlywood;
    border:1px solid cornflowerblue;
}